# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# Data and output
/data/collected_data.xlsx
/data/attachments/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Logs
*.log
